@import '../variables';
@import '../globals';

.paymentOptionAddressWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .paymentOptionWrapper {
    display: flex;
    flex-direction: column;

    @include mobileAndTablet {
      padding-top: 80px;
    }

    .titleDiv {
      display: flex;
      justify-content: space-between;

      @include desktop {
        flex-direction: row;
      }

      @include mobileAndTablet {
        flex-direction: column;
        gap: 10px;
      }

      b {
        @include hl-font-700;
        font-size: 20px;
        line-height: 24px;
      }

      a {
        cursor: pointer;

        span {
          top: 7px;
        }

        label {
          cursor: pointer;
          padding-left: 3px;
          text-decoration: underline;
        }
      }
    }

    .addPaymentTitle {
      padding-top: 24px;

      @include mobileAndTablet {
        padding-top: 16px;
      }
    }

    .addPaymentWrapper {
      width: 100%;
      @include mobileAndTablet {
        padding: 0px;
        background-color: $hl-white;
        margin-top: 0px;
      }

      .formGrid {
        background-color: $hl-white;
        width: 70%;
        padding: 0;

        @include mobileAndTablet {
          width: 100%;
        }

        .paymentForm {
          box-shadow: none;
          border-radius: 0;
          padding: 0;
          padding-top: 24px;
          margin-bottom: 8px;

          @include mobileAndTablet {
            padding-top: 16px;
          }

          div[class*='paymentSection'] {
            @include mobile {
              margin-bottom: 16px;
            }
          }
        }
      }
    }

    .defaultPaymentTitle {
      padding-top: 24px;

      @include mobile {
        padding-top: 20px;
      }
    }

    .cardInfoWrapper {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding-top: 24px;
      padding-bottom: 24px;

      @include mobile {
        padding-top: 16px;
        padding-bottom: 16px;
      }

      .defaultCardInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 49%;

        .meatBallWrapper {
          a {
            float: right;

            .meatBallMenu {
              button {
                &:hover {
                  background: transparent;
                }
              }
            }
          }
        }

        @include mobile {
          width: 100%;
        }
      }

      .cardInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .cardExpired {
        color: $hl-orange-dark;
      }

      .divider {
        width: 100%;

        @include mobile {
          width: 96.5%;
        }
      }
    }

    .myPaymentTitle {
      padding-top: 24px;

      @include mobile {
        padding-top: 16px;
      }
    }

    .paymentsListWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      @include mobile {
        flex-direction: column;
        gap: 0;
      }

      .paymentOption {
        display: flex;
        flex-direction: column;
        width: 49%;

        @include mobile {
          width: 100%;
        }
      }
    }

    .divider {
      width: 96.5%;
    }

    .emptyPaymentOption {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 50vh;
      background: $hl-gray-shadow;
      border-radius: 10px;
      margin-top: 10px;
      padding: 0 18% 0 21%;
    }
  }

  .billingAddressFormWrapper {
    .addAddressTitle {
      padding-top: 35px;
      padding-bottom: 24px;

      @include mobile {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
    .billingParentGrid {
      display: flex;

      @include mobileAndTablet {
        background-color: $hl-white;
        margin: 0;
        padding: 0;
      }

      .billingAddressForm {
        width: 50vw;
        padding: 0;
        background-color: $hl-white;

        @include mobileAndTablet {
          width: 100%;
        }

        input[type='checkbox'] {
          font-size: 12.5px;
        }

        div[class*='actionButtonGroup'] {
          display: flex;
          flex-direction: row;
          gap: 10px;

          @include mobile {
            flex-direction: column-reverse;
            gap: 0;
          }

          div[class*='submitWrapper'] {
            width: 100%;
          }
        }

        .cancelWrapper {
          margin-top: 14px;
          width: 100%;

          &:active {
            outline: none;
          }

          .cancelButton {
            border: 1px solid $hl-black;
            border-radius: 25px;
            width: 100%;
            height: 48px;

            @include hl-font-700;
            font-size: 16px;
            line-height: 24px;

            @include mobileAndTablet {
              font-size: 14px;
              line-height: 20px;
            }

            @include mobile {
              height: 28px;
            }

            color: $hl-black;
            background: $hl-white;

            &:active {
              background: $hl-white;
            }

            &:hover,
            &:focus-visible {
              background: $hl-blue-light;
              border: 1px solid $hl-white;
              color: $hl-white;
            }

            &:focus-visible {
              outline: none;
            }
          }
        }
      }
    }
  }

  .billingAddressTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;

    @include desktop {
      flex-direction: row;
    }

    @include mobileAndTablet {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    b {
      @include hl-font-700;
      font-size: 20px;
      line-height: 24px;
    }

    a {
      cursor: pointer;

      span {
        top: 7px;
      }

      label {
        cursor: pointer;
        padding-left: 3px;
        text-decoration: underline;
      }
    }
  }

  .paymentErrorSection {
    display: flex;
    gap: 10px;
    padding-top: 10px;

    .errorInfoImage {
      display: flex;
      align-items: center;
    }

    .paymentErrorLabel {
      padding-top: 2px;
      color: $hl-error;
    }
  }

  .defaultShippingAddress {
    padding-top: 26px;
    padding-bottom: 24px;

    @include mobile {
      padding-top: 16px;
      padding-bottom: 8px;
    }
  }

  .defaultShippingRadio {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include desktop {
      width: 47.5%;
    }

    @include mobile {
      width: 100%;
    }

    .editCta {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .divider {
    width: 98%;

    @include mobile {
      width: 100%;
    }
  }

  .addressListWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .addressList {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding-top: 24px;

      @include mobile {
        width: 100%;
      }

      .addressRadio {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;

        @include mobile {
          width: 100%;
        }

        .editCta {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      .addressLabelInfo {
        display: flex;
        flex-direction: column;
        width: 95%;

        @include mobile {
          width: 100%;
        }
      }
    }
  }

  .addressLabel {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-bottom: 24px;
  }

  .emptyAddressBook {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 21px;
    width: 50vw;

    @include tablet {
      gap: 0;
      justify-content: space-between;
    }

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      padding-top: 16px;
      padding-bottom: 2px;
    }

    span {
      padding-top: 4px;
    }

    a {
      cursor: pointer;

      span {
        top: 7px;
      }

      label {
        cursor: pointer;
        padding-left: 3px;
        text-decoration: underline;
      }
    }
  }

  .paymentsCta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    width: 50vw;

    @include tablet {
      width: 100%;
    }

    @include mobile {
      flex-direction: column;
      gap: 0px;
      width: 100%;
      padding-top: 2px;
    }

    .submitWrapper {
      margin-top: 14px;
      width: 100%;

      &:active {
        outline: none;
      }

      .submitButton {
        border: none;
        border-radius: 25px;
        width: 100%;
        height: 48px;

        @include hl-font-700;
        font-size: 16px;
        line-height: 24px;

        @include mobileAndTablet {
          font-size: 14px;
          line-height: 20px;
        }

        @include mobile {
          height: 28px;
        }

        color: $hl-white;
        background: $hl-blue-dark;

        &:active {
          background: $hl-blue-dark;
        }

        &:hover,
        &:focus-visible {
          background: $hl-blue-light;
        }

        &:focus-visible {
          outline: none;
        }
      }
    }

    .cancelWrapper {
      margin-top: 14px;
      width: 100%;

      &:active {
        outline: none;
      }

      .cancelButton {
        border: 1px solid $hl-black;
        border-radius: 25px;
        width: 100%;
        height: 48px;

        @include hl-font-700;
        font-size: 16px;
        line-height: 24px;

        @include mobileAndTablet {
          font-size: 14px;
          line-height: 20px;
        }

        @include mobile {
          height: 28px;
        }

        color: $hl-black;
        background: $hl-white;

        &:active {
          background: $hl-white;
        }

        &:hover,
        &:focus-visible {
          background: $hl-blue-light;
          border: 1px solid $hl-white;
          color: $hl-white;
        }

        &:focus-visible {
          outline: none;
        }
      }
    }
  }

  .addAddressIcon {
    position: relative;
    top: 7px;
  }
}
