@import '../../variables';
@import '../../globals';

.submitWrapper {
  margin-top: 24px;

  &:active {
    outline: none;
  }
}

.submitButton {
  border: none;
  border-radius: 25px;
  width: 100%;
  height: 48px;

  @include hl-font-700;
  font-size: 16px;
  line-height: 24px;

  @include mobileAndTablet {
    font-size: 14px;
    line-height: 20px;
    height: 28px;
  }

  color: $hl-white;
  background: $mardel-primary-green-main;

  &:active {
    background: $mardel-primary-green-main;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus-visible {
    background: $mardel-primary-green-light;
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    color: #5f5f5f;
    background: #ededed;
    cursor: auto;
  }
}

:export {
  hlBlueDark: $hl-blue-dark;
  hlBlueLight: $hl-blue-light;
  mardelGreenDark: $mardel-primary-green-main;
  mardelGreenLight: $mardel-primary-green-light;
}
