@import '../../globals';

.shopImage {
  &Products {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    overflow-y: scroll;

    div[class*='featuredItemCard_card'] {
      overflow: initial;

      section[class*='featuredItemCard_promoAlert'] {
        border-radius: 10px 10px 0 0;
      }
    }
  }

  &Footer {
    background-color: #ededed;
    display: flex;
    justify-content: center;
    padding: 16px 24px;

    button {
      @include button;
      @include buttonSecondary;
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }
}
