@import '../variables';
@import '../globals';

.noticeWarningWrapper {
  margin-top: 16px;

  .noticeWarningSubWrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;

    .imageWrapper {
      margin-right: 0px;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }
}

:export {
  hlError: $hl-error;
}
