@use '../variables' as vars;
@use '../breakpoints' as res;
@import '../globals';

.footer {
  background-color: vars.$hl-gray-shadow;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: res.$hl-xxl;
  width: 100%;

  .socialIcon {
    span {
      margin-bottom: 15px !important;
      margin-right: 25px !important;
    }
  }

  &card {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    height: 500;
    margin: 16px;
    width: 400;
  }

  .logoPadding {
    margin-left: 80px;
  }

  nav {
    ul {
      padding: 0px;
    }
  }

  .responsiveSelect {
    a {
      &:focus-visible {
        outline: 2px dashed vars.$hl-blue;
        outline-offset: 5px;
        width: auto;
      }

      &:hover,
      &:focus-visible {
        color: vars.$hl-blue;
        text-decoration-line: underline;
      }
    }
  }

  .appLinkAnchor {
    &:focus-visible {
      outline: 1.25px dashed vars.$hl-blue;
      outline-offset: 5px;
    }

    &:hover,
    &:focus-visible {
      color: vars.$hl-blue;
      filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.25));
      text-decoration-line: underline;
    }
  }

  &LinkHead {
    @include vars.hl-font-700;
    align-items: center;
    color: #000000;
    display: flex;
    flex: none;
    font-size: 18px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 21px;
    margin-top: 0px;
    width: 200px;

    span {
      @include vars.hl-font-700;
      align-items: center;
      color: #000000;
      display: flex;
      flex: none;
      font-size: 18px;
      height: 22px;
      line-height: 22px;
      width: 200px;
    }
  }

  .footerLinkItems {
    @include vars.hl-font-300;
    align-items: center;
    align-self: stretch;
    color: #000000;
    display: flex;
    flex: none;
    font-size: 18px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 20px;
    margin-top: -2px;
    width: auto;
  }

  .imageAnchor {
    display: inline-flex;
    font-size: 45px;
    height: 57px;
    margin-bottom: 10px;
    margin-right: 22px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    width: 55px;

    &:hover,
    &:focus-visible {
      filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
    }

    &:focus-visible {
      outline: 1.25px dashed vars.$hl-blue;
    }
  }

  .socialLinkTitle {
    a:nth-child(4) {
      margin-right: 0px;
    }

    a:nth-child(7) {
      margin-right: 0px;
    }
  }

  @media screen and (min-width: 1441px) {
    padding: 70px 80px 0 80px;
  }

  @media screen and (min-width: 1281px) and (max-width: 1500px) {
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 196px;
  }

  @media screen and (min-width: res.$hl-desk-start) and (max-width: res.$hl-xl) {
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
  }

  @media screen and (min-width: res.$hl-md) and (max-width: res.$hl-tab-end) {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: res.$hl-xs) and (max-width: res.$hl-break-md) {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  /*All Kind of Lower Resolutions*/
  @media screen and (max-width: res.$hl-break-xs) {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

/*Footer Logo & Privacy*/
.logoPrivacyCard {
  @include vars.hl-font-300;
  background-color: vars.$hl-gray-shadow;
  margin: 0 auto;
  max-width: 1440px;
  padding-bottom: 35px;
  padding-top: 18px;
  width: 100%;

  a {
    &:focus-visible {
      outline: 2px dashed vars.$hl-blue;
      outline-offset: 5px;
      width: auto;
    }

    &:hover,
    &:focus-visible {
      text-decoration-line: underline;
      color: vars.$hl-blue;
    }
  }

  .logoImg {
    float: left;
  }

  @media screen and (min-width: 1730px) and (max-width: 1920px) {
    padding-left: 229px;
    padding-right: 229px;
  }

  @media screen and (min-width: 1441px) and (max-width: 1729px) {
    padding-left: 229px;
    padding-right: 229px;
  }

  @media screen and (min-width: 1282px) and (max-width: 1440px) {
    padding-left: 84px;
    padding-right: 196px;
  }

  @media screen and (min-width: res.$hl-desk-start) and (max-width: res.$hl-xl) {
    padding-bottom: 25px;
    padding-left: 80px;
    padding-right: 80px;
  }

  @media screen and (min-width: res.$hl-md) and (max-width: res.$hl-tab-end) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 741px) and (max-width: 834px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (max-width: 740px) {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;

    span,
    .logoImg {
      display: flex;
      float: none;
      justify-content: center;
    }
  }
}

.privacyTerms {
  align-items: center;
  color: #000000;
  display: flex;
  float: right;
  font-size: 12px;
  line-height: 14px;
  padding: 10px 0 10px 10px;
  text-align: center;
  white-space: pre-wrap;

  a {
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    padding: 4px 0 0 0;

    span.privacyShow {
      clear: both;
      display: block;
      margin: 4px 0 0 0;
      width: 100%;
    }
    span.privacyHide {
      display: none;
      visibility: hidden;
    }
  }

  @media screen and (max-width: 740px) {
    flex-wrap: wrap;
    float: none;
    justify-content: center;
    padding: 8px 10px 0 10px;
  }

  @media screen and (min-width: 741px) and (max-width: 875px) {
    clear: left;
    float: left;
    padding: 22px 0 0 0;
  }
}

//checkout Page footer css
.checkoutLogoPrivacyCard {
  @include vars.hl-font-300;
  background-color: vars.$hl-gray-shadow;

  a {
    &:focus-visible {
      outline: 2px dashed vars.$hl-blue;
      outline-offset: 5px;
      width: auto;
    }

    &:hover,
    &:focus-visible {
      text-decoration-line: underline;
      color: vars.$hl-blue;
    }
  }

  @media only screen and (max-width: res.$hl-mobile-end) {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 23px;
    margin-bottom: 32px;
  }

  @media only screen and (min-width: res.$hl-tab-start) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 80px;
    height: 24px;
    max-width: res.$hl-xxl;
    padding: 0 80px;
    margin-top: 17px;
    margin-bottom: 40px;
  }

  .checkoutPrivacyTerms {
    align-items: center;
    text-align: center;
    color: vars.$hl-black;

    @media only screen and (min-width: res.$hl-tab-start) {
      font-size: 14px;
      line-height: 20px;
      padding-right: 80px;
      padding-top: 2px;
    }

    @media only screen and (max-width: res.$hl-mobile-end) {
      font-size: 12px;
      line-height: 16px;
      margin-top: 19px;
    }
  }
}

/*Conditional rendering of divs-start*/
@media only screen and (min-width: res.$hl-desk-start) {
  /*above normal desk resolutions remove*/
  .showApplinkTablet {
    display: none;
  }
}

@media only screen and (min-width: res.$hl-xs) and (max-width: res.$hl-tab-end) {
  .footer {
    .removeApplinkTablet {
      display: none;
    }
  }

  .showApplinkTablet {
    display: flex;
    padding-bottom: 10px;
    justify-content: flex-start;
    background-color: #ededed;
  }
}

@media only screen and (max-width: res.$hl-break-xs) {
  /*bleow tablet resolutions remove*/
  .showApplinkTablet {
    display: none;
  }
}

/*Conditional rendering of divs-end*/

/*Above tablet resoutions*/
@media screen and (min-width: 741px) {
  .footerSelectBox {
    display: none;
  }
}

/*Below tablet resoutions*/
@media screen and (max-width: 740px) {
  .responsiveSelect {
    margin-top: 15px;

    .footerListItem:last-child > .footerLinkItems {
      margin-bottom: 0px;
    }
  }

  .socialLinkTitle {
    margin-top: 30px;
  }

  .removeFooterTitle {
    display: none;
  }

  .footerSelectBox {
    background: #ededed;
    border: none;
    box-shadow: none;
    box-sizing: none;
    margin-bottom: -20px;

    &:before {
      background-color: #ededed;
    }

    label {
      @include vars.hl-font-700;
      align-items: center;
      border: none;
      color: #000000;
      cursor: pointer;
      display: block;
      display: flex;
      flex-grow: 0;
      flex: none;
      font-size: 18px;
      height: 22px;
      line-height: 22px;
      margin-bottom: 11px;
      padding-left: 0;
      transition: ease 0.5s;
      width: 85vw;

      &:after {
        @include vars.hl-font-700;
        content: '\25BE';
        float: right;
        margin-left: 5px;
      }
    }

    /*Strategeis to override material-class*/
    :global(.MuiAccordionDetails-root),
    :global(.MuiAccordionSummary-root) {
      padding: 0px;
    }

    div {
      &:global(.MuiAccordionSummary-content.Mui-expanded) {
        label {
          &:after {
            // content: '\25B4';
            transform: rotate(180deg);
          }
        }
      }

      &:global(.MuiAccordionSummary-content) {
        label {
          font-size: 16px;
          line-height: 19px;
          margin-top: 5px;
        }
      }
    }
  }
}

.footer {
  div:first-child {
    .responsiveSelect {
      ul > div > div > li:last-child > a {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 571px) {
  .mobilePhoneNum {
    display: none;
  }

  .desktopPhoneNum {
    display: block;
  }
}

@media screen and (max-width: 570px) {
  .mobilePhoneNum {
    display: block;
  }

  .desktopPhoneNum {
    display: none;
  }
}

/*Mobile number dial enable for landscape TODO:check for other issues*/
@media screen and (max-height: 570px) and (orientation: landscape) {
  .mobilePhoneNum {
    display: block;
  }

  .desktopPhoneNum {
    display: none;
  }
}

// @media screen and (min-width: 1280px) {}
@media screen and (max-width: 1279px) {
  .footer {
    .footerLinkItems,
    .footerLinkHead {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 18px;
    }

    .footerLinkHead {
      span {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}
