@use "../variables" as vars;

.bar {
  background-color: vars.$mardel-primary-green3-main;
  gap: 40px;
}

.text {
  @include vars.hl-font-700;
  color: #fff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 22px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  a:-webkit-any-link:focus-visible {
    text-decoration: underline;
    outline: 2px dashed vars.$hl-white;
    outline-offset: 2px;
  }

  a:-webkit-any-link:hover {
    text-decoration: underline;
  }

  .buttonText {
    color: #fff;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    border: none;
    background: transparent;

    &:active,
    &:focus {
      outline: none;
      text-decoration: none;
    }
    &:focus-visible {
      text-decoration: underline;
      outline: 2px dashed vars.$hl-white;
      outline-offset: 2px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.arrowContainer {
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  position: relative;
  width: 40px;
  z-index: 999;

  &:focus {
    border: none;
  }

  &:focus-visible {
    outline: 2px dashed #ffffff;
    svg {
      font-size: 30px;
    }
  }
  svg {
    font-size: 24px;
    &:hover {
      font-size: 30px;
    }
    transition: all 0.2s ease-out;
  }
}
