@import '../globals';
@import '../variables';
@import '../breakpoints';

.supplyChain {
  &Text {
    font-size: 14px;
    margin: 40px auto;
    max-width: $hl-xxl;
    padding: 0;

    a {
      color: $hl-blue;
      text-decoration: underline;

      &:focus {
        text-decoration: none;
        color: $hl-black;
        outline-offset: 5px;
        outline: 2px dashed $hl-blue;
      }

      &:hover {
        text-decoration: none;
        color: $hl-black;
      }
    }

    @include desktop {
      font-size: 16px;
      padding: 0 80px;
    }
  }
}
