@import '../variables';
.toggleLabel {
  background-color: transparent;

  &::before {
    content: none;
  }
  &::after {
    content: none;
  }
}

.checkbox {
  appearance: auto !important;
  opacity: unset;
  position: unset;
  margin-right: 0 !important;
  outline-color: $mardel-dark-green;

  &::after {
    content: none !important;
  }
}
