@use '../globals' as glob;
@use '../variables' as vars;
@import '../breakpoints';

.mainHeroBannerContainer {
  max-width: $hl-xxl;
  position: relative;

  @include glob.mobile {
    margin: 0;
  }

  @include glob.tablet {
    margin: vars.$margin-framing-short auto 0 auto;
    padding: 0 vars.$padding-framing-tablet;
  }

  @include glob.desktop {
    margin: vars.$margin-framing-short auto 0 auto;
    padding: 0 vars.$padding-framing-desktop;
  }
}

.mainHeroBanner {
  display: grid;
  flex-flow: column nowrap;
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;

  @include glob.tabletAndDesktop {
    border-radius: calc(vars.$border-radius * 2) calc(vars.$border-radius * 2) 0 0;
  }

  figure {
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.mainHeroBannerContent {
  @include glob.tabletAndDesktop {
    margin: 1rem 0 0 0;
    max-width: 26rem;
    padding: 4rem 1rem;
    
    @include glob.tabletAndDesktop {
      position: absolute;
      right: 14%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.mainHeroBannerContentBlur {
  background: vars.$hl-white;
  grid-column: 2;
  grid-row: 2;
  height: 0;
  width: 0;

  @include glob.tabletAndDesktop {
    filter: blur(calc(vars.$font-size-p * 4.5));
    height: 100%;
    margin: -4rem -0.5rem 0 -0.5rem;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

.mainHeroBannerContentInfo {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  grid-column: 2;
  grid-row: 2;
  line-height: 1;
  justify-content: center;
  position: relative;
  text-align: center;
  z-index: 1;

  @include glob.mobile {
    margin: calc(vars.$font-size-p * 2) auto 0 auto;
    width: max-content;
  }

  @include glob.tabletAndDesktop {
    margin: 0 auto;
  }
}

.mainHeroBannerContentInfoDiscount {
    @include vars.hl-font-700;
    display: flex;
    letter-spacing: -0.02em;
    margin: 0 calc(vars.$font-size-p * -1) 0 0;
}
  
.mainHeroBannerContentInfoDiscountNumber {
  font-size: clamp(calc(vars.$font-size-p * 6), 10vw, calc(vars.$font-size-p * 16));
  letter-spacing: -0.4rem;
  line-height: 0.8;

  @include glob.tabletAndDesktop {
    text-shadow: 0 0 3rem rgba(255,255,255,0.5), 0 0 3rem rgba(255,255,255,0.5), 0 0 3rem rgba(255,255,255,0.5), 0 0 3rem rgba(255,255,255,0.5);
  }
}

.mainHeroBannerContentInfoDiscountStatic {
  display: flex;
  flex-flow: column wrap;
  margin: calc(vars.$font-size-p * 0.25) 0 0 calc(vars.$font-size-p * 0.45);
}

.mainHeroBannerContentInfoDiscountStaticPercent {
  font-size: clamp(calc(vars.$font-size-p * 3), 5vw, calc(vars.$font-size-p * 5.5));
  line-height: 0.85;

  @include glob.tabletAndDesktop {
    text-shadow: 0 0 1rem rgba(255,255,255,0.5), 0 0 1rem rgba(255,255,255,0.5), 0 0 1rem rgba(255,255,255,0.5), 0 0 1rem rgba(255,255,255,0.5);
  }
}

.mainHeroBannerContentInfoDiscountStaticOff {
  font-size: clamp(calc(vars.$font-size-p * 1.75), 2.25vw, calc(vars.$font-size-p * 2.5));
  line-height: 0.85;
  text-transform: uppercase;

  @include glob.tabletAndDesktop {
    text-shadow: 0 0 1rem rgba(255,255,255,0.5), 0 0 1rem rgba(255,255,255,0.5), 0 0 1rem rgba(255,255,255,0.5), 0 0 1rem rgba(255,255,255,0.5);
  }
}

.mainHeroBannerContentInfoCategory {
  display: flex;
  flex: 0 1 auto;
  flex-flow: column wrap;
}

.mainHeroBannerContentInfoCategoryHeading {
  font-size: clamp(calc(vars.$font-size-p * 2), 3vw, calc(vars.$font-size-p * 3.75));
  margin: calc(vars.$font-size-p * 0.75) 0 0 0;

  @include glob.tabletAndDesktop {
    text-shadow: 0 0 1rem rgba(255,255,255,0.5), 0 0 1rem rgba(255,255,255,0.5), 0 0 1rem rgba(255,255,255,0.5), 0 0 1rem rgba(255,255,255,0.5);
  }
}

.mainHeroBannerContentInfoCategorySubHeading {
  @include vars.hl-font-700;
  font-size: clamp(calc(vars.$font-size-p * 1), 1.75vw, calc(vars.$font-size-p * 1.75));
  margin: calc(vars.$font-size-p * 0.5) 0 0 0;

  @include glob.tabletAndDesktop {
    text-shadow: 0 0 1rem rgba(255,255,255,0.5), 0 0 1rem rgba(255,255,255,0.5), 0 0 1rem rgba(255,255,255,0.5), 0 0 1rem rgba(255,255,255,0.5);
  }
}

.mainHeroBannerContentInfoOutline {
  &:focus-within {
    outline: 2px dashed vars.$color-outline;
    outline-offset: 5px;
  }

  @include glob.mobile {
    margin: vars.$font-size-p 0 0 0;
    width: 100%;
  }

  @include glob.tabletAndDesktop {
    margin: calc(vars.$font-size-p * 2) 0 0 0;
  }
}

.mainHeroBannerContentInfoOutlineLink {
  @include vars.hl-font-700;
  @include glob.button;
  border-radius: 80rem;
  font-size: clamp(vars.$font-size-p, 0.9vw, calc(vars.$font-size-p * 1.75));
  margin: 0;

  @include glob.mobile {
    @include glob.buttonSmall;
    width: 100%;
  }
}

.mainHeroBannerContentInfoDescription {
  font-size: clamp(calc(vars.$font-size-p * 0.75), 0.8vw, calc(vars.$font-size-p * 1.1));
  line-height: 1.3;
  max-width: 15rem;

  @include glob.mobile {
    margin: vars.$font-size-p 0 0 0;
    text-shadow: 0 0 0.25rem rgba(255,255,255,0.5), 0 0 0.25rem rgba(255,255,255,0.5), 0 0 0.25rem rgba(255,255,255,0.5), 0 0 0.25rem rgba(255,255,255,0.5);
  }

  @include glob.tabletAndDesktop {
    @include vars.hl-font-500;
    margin: calc(vars.$font-size-p * 1.5) 0 0 0;
  }
}