@import '../variables';
@import '../breakpoints';

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 270px;
  width: 230px;

  img {
    transform: none;
    transition: all 0.1s ease-in-out;
  }

  &:hover {
    p {
      color: $hl-blue;
    }

    img {
      transform: scale(1.01);
      transition: all 0.1s ease-in-out;
    }

    .image {
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    }
  }
}

.image {
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  height: 230px;
  overflow: hidden;
  transition: box-shadow 0.1s ease-out;
  width: 230px;
  will-change: transform;
}

.text {
  font-size: 16px;
  @include vars.hl-font-700;
  letter-spacing: 0em;
  line-height: 24px;
  margin-top: 10px;
  text-align: center;
}

.header {
  @include vars.hl-font-700;
  font-size: 40px;
  line-height: 50px;
  margin: 0px auto 0px;
  padding-left: 80px;
  padding-top: 35px;
  width: 100%;
}

@media screen and (min-width: $hl-break-xl) {
  .card {
    &:hover {
      p {
        color: $hl-blue;
      }
    }
  }
}

@media screen and (max-width: $hl-break-xl) {
  .header {
    padding-left: 80px;
    width: 100%;
  }
}

@media screen and (max-width: $hl-break-lg) {
  .header {
    padding-left: 40px;
  }
}

@media screen and (max-width: $hl-break-sm) {
  .header {
    padding-left: 24px;
  }
}

:export {
  hlBlue: $hl-blue;
  hlBlueLight: $hl-blue-light;
  hlBlueDark: $hl-blue-dark;
}
